<launch>
  <arg name="paused" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robokeeper)/world/gibbysgazebos"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(find robokeeper)/urdf/ball.urdf.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model ball -x 0 -y 0 -z 0.5"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node name="rviz" pkg="rviz" type="rviz"/>
</launch>