<?xml version = "1.0"?>
<robot name="ball" xmlns:xacro="http://wiki.ros.org/wiki/xacro">
<xacro:include filename="ball.gazebo.xacro"/>

<link name="base"/>

<link name="ball">
  <inertial>
    <origin xyz="0 0 1" rpy="0 0 0"/>
    <mass value="1"/>
    <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
  </inertial>

  <visual>
  <origin xyz="0 0 1" rpy="0 0 0"/>
    <geometry>
      <sphere radius="1"/>
    </geometry>
    <material name="green_mat">
      <color rgba="1 0 0 1"/>
    </material>
  </visual>

   <collision>
   <origin xyz="0 0 1" rpy="0 0 0"/>
   <geometry>
     <sphere radius="1"/>
   </geometry>
   </collision>
</link>

<joint name="fixed" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="base"/>
  <child link="ball"/>
</joint>
</robot>